.cart-drawer {
  height: 100vh;
}

@media (max-width: 1024px) {
  .cart-drawer {
    height: 100dvh;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10px) translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease forwards;
}