.nav-container {
  padding: 5px 100px;
  .nav-box {
    display: flex;

    .app-name {
      color: #cc0000;
      font-size: 40px;
      font-weight: 900;
    }
    button {
      border: 1px solid #cc0000;
      color: #cc0000;
      padding: 8px 25px;
      span {
        color: #000000;
        font-size: 18px;
      }
    }
  }
}
