.swiper-button-next,
.swiper-button-prev {
  color: white;
  top: 50%;
  /* transform: translateY(-50%); */
}
.swiper-button-prev {
  left: 2;
  /* top: 51%; */
}

.swiper-button-next {
  right: 2;
  font-size: 20px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 12px;
  padding: 6px 10px;
  background-color: white;
  color: gray;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #5c5c5c;
}
