.sample-slider [class^="swiper-button-"]::after {
  font-size: 10px;
}
.swiper-button-next,
.swiper-button-prev {
  top: 50%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  margin: 0 10px;
  font-size: 13px;
  padding: 12px 20px;
  background-color: rgb(255, 255, 255);
  color: #212121;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #5c5c5c;
}

.tooltip:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: rgb(223, 223, 223) transparent transparent transparent;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.swiper-container {
  position: relative;
}

.swiper-slide {
  z-index: 1;
}
.scroll-hidden::-webkit-scrollbar {
  width: 4px;
}
.scroll-hidden::-webkit-scrollbar-thumb {
  background: transparent;
}

.slider1 {
  height: 441px;
}
.slider2 {
  height: 120px;
}

.overlay-bg {
  background: #3f3f3f78;
}

@media (max-width: 1023px) {
  .slider2 {
    height: 70px;
  }
}

@media (min-width: 768px) {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    padding: 12px 14px;
    margin: 0 20px;
  }
}

@media (max-width: 639px) {
  .slider1 {
    height: 385px;
  }
  .slider2 {
    height: 80px;
  }
}
@media (max-width: 425px) {
  .slider1 {
    height: 350px;
  }
  .slider2 {
    height: 60px;
  }
}
