.category-items {
  cursor: pointer;
  /* margin: 10px 0; */
}

.category-sub-items {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  z-index: 1;
}

.sub-item {
  cursor: pointer;
  margin: 5px 0;
}
