.actionBanner-container {
  background-image: url("../../public/assets/bannerrr.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
